<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <template is="dom-if" if="{{cargando}}">
    <paper-spinner active="{{cargando}}"></paper-spinner>
    <h3>Cargando...</h3>
  </template>
    <h2>{{handleResponse.name}}</h2>

    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/1"
    handle-as="json"
    last-response="{{handleResponse}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * `datamanager-element`
     * Componente para data manager
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value:() => {return{}},
            observer: '_success'
          },
          cargando:{
            type: Boolean,
            value: true
          }
        };
      }
      _success(e){
        // debugger;
        console.log('SUCCESS');       
        this.cargando = false; 
      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
